@{
    ViewData["Title"] = "FlipScript";
}

<div class="expanded row">
    <div class="small-12 columns">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="expanded row">
    <div class="small-12 columns">
        <p>Choose a new Markdown file to apply the FlipScript treatment to.</p>
        @Html.Partial("_NewFilePartial")
    </div>
</div>