<form action="/Home/Viewer" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file"  />
    <button type="submit" class="large button"><i class="fa fa-upload"></i> Upload</button>
</form>
