@model FlipScript.ViewModels.Home.Index

@{
    ViewData["Title"] = "Load a Markdown file";
}

<div class="title-bar">
    <div class="title-bar-left ">
        <span class="title-bar-title">FlipScript</span>
    </div>
    <div class="title-bar-right">
    </div>
</div>

<div id="home-container" class="expanded row">
    <div class="small-12 columns">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="small-12 columns">
        <h4>Upload a file from your device</h4>
        <form action="/Home/Viewer" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <input type="file" name="file" id="file" />
                    </label>
                </div>
            </div>
            <button id="home-upload-button" type="submit" class="large button"><i class="fa fa-upload"></i> Upload</button>
        </form>
    </div>

    <div class="small-12 columns">
        <h4>Upload a file from GitHub <i class="fa fa-github"></i></h4>
        <form action="/Home/Viewer" method="post" autocomplete="on">
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Enter a GitHub URL
                        <input type="text" name="gitHubUrl" id="gitHubUrl" />

                    </label>
                    @if (Model.PreviousUrls.Count() > 0)
                    {
                        <label>
                            Or select from previous GitHub URLs
                            <select id="selectedGitHubUrl" onchange="SetInputFromSelect()">
                                <option value="default">Select...</option>
                                @foreach (var url in Model.PreviousUrls)
                                {
                                    <option value="@url">@url</option>
                                }
                            </select>

                        </label>

                    }
                </div>
            </div>
            <button id="home-upload-button" type="submit" class="large button"><i class="fa fa-upload"></i> Upload from GitHub</button>
        </form>

    </div>

</div>

@section scripts{
<script>
    function SetInputFromSelect()
    {
        var select = document.getElementById("selectedGitHubUrl");
        var selectedGitHubUrl = select.options[select.selectedIndex].value;
        document.getElementById("gitHubUrl").value = selectedGitHubUrl;
    }
</script>
}