@{
    ViewData["Title"] = "Get Started";
}

<div class="title-bar">
    <div class="title-bar-left ">
        <span class="title-bar-title">FlipScript</span>
    </div>
    <div class="title-bar-right">
    </div>
</div>

<div id="home-container" class="expanded row">
    <div class="small-12 columns">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="small-12 columns">
        <p>Choose a new Markdown file to apply the FlipScript treatment to.</p>
        @Html.Partial("_NewFilePartial")
    </div>
</div>