.title-bar {

}

#load-button {
    margin-bottom: 0;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    border-radius: 0px;
}

.owl-theme .owl-controls .owl-buttons div {
    border-radius: 0px;
}