
@{
    ViewBag.Title = "FlipScript";
}



<div class="expanded row">
    <div class="small-12 columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="expanded row">
    <div class="small-12 columns">
        @using (Html.BeginForm("Viewer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="small-12 columns">
                    <input type="file" name="file" id="file" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        }
    </div>
</div>



