@model DemoScriptFlipper.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Index</h1>

@{Html.RenderAction("Headers", new { html = Model.ConvertedHtml });}
@{Html.RenderAction("Tabs", new { html = Model.ConvertedHtml });}