@model DemoScriptFlipper.Models.IndexViewModel

<!--Zurb Foundation 6 Top bar: http://foundation.zurb.com/sites/docs/top-bar.html-->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">@ViewBag.Title</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Load new file</a></li>
        </ul>
    </div>
</div>

<div class="expanded row">
    <div class="small-12 columns">
        <div id="owl-example" class="owl-carousel">
            @{Html.RenderAction("Slides", new { html = Model.ConvertedHtml });}
        </div>
    </div>
</div>

@section scripts{
<script>
    $(document).ready(function () {
        $("#owl-example").owlCarousel({
            items: 1,
            autoPlay: false,
            pagination: true,
            paginationNumbers: true,
            responsive: true,
            autoHeight: true,
            dragBeforeAnimFinish: true,
            mouseDrag: true,
            touchDrag: true,
            singleItem: true,
            navigation: true, // Show next and prev buttons
        });
    });
</script>   
}