<div class="small-12 columns">
    <h4>Upload a file from your device</h4>
    <form action="/Home/Viewer" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    <input type="file" name="file" id="file" />
                </label>
            </div>
        </div>
        <button id="home-upload-button" type="submit" class="large button"><i class="fa fa-upload"></i> Upload</button>
    </form>
</div>

<div class="small-12 columns">
    <h4>Upload a file from GitHub <i class="fa fa-github"></i></h4>
    <form action="/Home/Viewer" method="post" autocomplete="on">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    GitHub URL
                    <input type="text" name="gitHubUrl" id="gitHubUrl" />
                </label>
            </div>
        </div>
        <button id="home-upload-button" type="submit" class="large button"><i class="fa fa-upload"></i> Upload from GitHub</button>
    </form>
</div>
